body{
  font-family:Arial;
  color:white;
  background-color:#ffa191;

}
#flexi {
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
#barre{
  width:100%;
  height:10%;
  display:flex;
  justify-content:flex-start;
}
.letxt{
  width:100%;
  height:10%;
  color:white;
  text-align:center;
  font-size:1.6vw;
}
a {
  color:inherit;
  text-decoration:none;
}
ul.menu li{
  display:none;
}
ul.menu li:first-child{
  display:block;
}
ul.menu:hover li{
  display:block;
  border-top:1px solid;
  border-color:#ffa191;
  background-color:#41c1c1;
}
ul.menu {
  background-color:##41c1c1;
  width:100%;
  height:100%;
  padding-left:0;
}
.gump {
  width:70%;
  margin-top:20px;

}
